@media all and (min-width: 480px) {
      .SignUpConfirmation {
            padding: 60px 0;
      }

      .SignUpConfirmation form {
            margin: 0 auto;
            max-width: 320px;
      }
}

.SignUpConfirmation form span.help-block {
      font-size: 14px;
      padding-bottom: 10px;
      color: #999;
}